body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #fff;
  color: #333;
}

header {
  background-color: #f9f9f9;
  padding: 0px 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  position: relative;
}

.upgrade {
  position: absolute;
  right: 20px;
  top: 10px;
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  padding: 40px 30px;
  border-right: 1px solid #ddd;
}

.sidebar h1 {
  font-size: 24px;
  margin: 0;
}

.sidebar p {
  color: #888;
  font-size: 14px;
}

.sidebar nav {
  margin-top: 30px;
}

.sidebar nav h3 
{
  font-size: 16px;
  margin: 60px 0 5px;
}

.sidebar nav a 
{
  display: block;
  color: #333;
  text-decoration: none;
  margin: 5px 0;
}
.sidebar nav a:hover
{
  display: block;
  color: #333;
  text-decoration: underline;
  margin: 5px 0;
}

.sidebar .social-icons {
  margin-top: 10px;
}

.sidebar .social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 18px;
}

.main-content {
  flex: 1;
  padding: 40px;
}

.main-content h2 {
  font-size: 28px;
}

.main-content .date {
  color: #888;
  font-size: 14px;
  margin-bottom: 20px;
}

.main-content footer {
  margin-top: 100px;
  color: #888;
  font-size: 14px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.main-content footer a 
{
  color: #666;
  text-decoration: none ;
}
.main-content footer a:hover
{
  color: #666;
  text-decoration: underline ;
}